# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~
    # You should uncomment this if you want use pdo_sqlite
    database_path: "%kernel.root_dir%/../var/data/db.sqlite"

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt

    med.devices.services.params:
        application:
            identifier_types: {serial_number: SNO, mac_address: MAC, system_id: SYS, universally_unique_identifier: UID} 
            ref_identifier_type: SNO
            validators:
                Device: "MedicalDevices\\Application\\Service\\Device\\DeviceValidator"
        infrastructure:
            db_json_files_path: "%kernel.root_dir%/../var/data/db.file"
            db_json_files:
                device_categories: device_categories.json
                device_models: device_models.json
                device_types: device_models.json
            jms_serializer_mapping_dir: "%kernel.root_dir%/../src/MedicalDevices/Infrastructure/Persistence/JMSSerializer/Mapping/"